.container {
  margin-top: 75px;
}

h1 {
  margin-top: 0;
  font-family: 'Josefin Sans';
  font-weight: bold;
  font-size: 55px;
}

img {
  width: 100%;
}

.topleft {
  width: 30%;
  float: left;
  margin: 0px 15px 15px 0px;

}

.bottomright {
  width: 40%;
  float: right;
  margin: 10px 0px 10px 0px;
}
