.container {
  margin-top: 75px;
}

h1 {
  margin-top: 0;
  font-size: 55px;
}

h1, h3 {
  font-family: 'Josefin Sans' sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 30px;
}

p {
  font-family: 'Josefin Sans';
  font-size: 15px;
}

img {
  width: 90%;
}

form {
  font-family: 'Josefin sans';
}

footer {
  margin-top: 10px;
  margin-left: 5px;
  font-family: 'lato', sans-serif;
}

.navbar-nav {
  font-family: 'lato', sans-serif;
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
}

.topleft {
  width: 30%;
  float: left;
  margin: 0px 15px 15px 0px;

}

.bottomright {
  width: 40%;
  float: right;
  margin: 15px 15px 15px 0px;
}
