body {
  background-color: black;
}

.container {
  margin-top: 75px;
}

.container-fluid {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  background-color: black;
}

.navbar-nav {
  font-family: 'lato', sans-serif;
  background-color: black;
}

.navbar-collapse {
  border-color: black;
}

.active {
  /*background: rgba(0, 0, 0, 0.5);*/
}

.navbar-brand {
  font-family: 'Satisfy', cursive;
  color: gray;
}

#slides {
  display:none;
}

.slidesjs-pagination {
  display: none;
}

.slidesjs-navigation {
  margin-left: 303px;
  font-family: 'Josefin Sans';
  font-size: 20px;
  text-decoration: none;
  color: gray;
}

.slidesjs-navigation:hover {
  text-decoration: none;
}

.slidesjs-container {
  border: 10px solid white;
  margin-bottom: 10px;
  /*overflow: hidden;*/
}

h3 {
  font-family: 'Josefin Sans';
  font-size: 50px;
  text-align: center;
  color: white;
}

footer {
  margin-top: 10px;
  margin-left: 10px;
  font-family: 'lato', sans-serif;
}
