/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Satisfy', cursive;*/

body {
  text-align: center;
  background-color: white;
}

img {
  width: 70%;
  margin-bottom: 50px;
  height: 600px;
  /*margin: 0 auto;*/
}

h1 {
  color: white;
  font-family: 'Satisfy', cursive;
  font-size: 75px;
  text-shadow: 1px 1px gray;
}

h2 {
  font-family: 'Satisfy', cursive;
  font-size: 55px;
  margin-bottom: 350px;
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgba(255,255,255, 0.3);
}

.page1 {
  margin-top: 70px;
}

.caption {
  width:100%;
  bottom: 17rem;
  position: absolute;
}

.caption p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  color: white;
  bottom: 3rem;
}

.tps-wrapper {
  height: 700px;
  margin-top: 5px;
  margin-bottom: 100px;
}

/*.last-page {
  margin-bottom: 50px;
}*/
