body {
  text-align: center;
  background-color: white;
}

img {
  width: 75%;
  margin-bottom: 50px;
  /*height: 100%;*/
  /*margin: 0 auto;*/
}

h1 {
  color: white;
}

.navbar {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgba(255,255,255, 0.3);
}
